body {
  margin: 0;
  display: flex;
  line-height: 1.5;
}

/* NAVIGATION */

#navbar {
  position: fixed;
  display: block;
  background-color: rgba(0, 0, 0, 0.918);
  color: white;
  left: 0;
  height: 100vh;
  width: 15vw;
  text-align: center;
  font-size: 0.8rem;
}

#navbar header {
  background-color: green;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
}

#navbar a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2.5rem;
  color: white;
  text-decoration: none;
  border-bottom: green solid 1px;
  font-size: 1rem;
}

#navbar a:hover {
  color: green;
}

/* MAIN DOC */

#main-doc {
  width: 85vw;
  margin-left: 15vw;
  padding: 1rem 2.5rem;
}

#main-doc header {
  font-size: 2rem;
  margin-top: 1rem;
}

#main-doc code {
  display: flex;
  align-items: center;
  color: white;
  height: 3rem;
  padding-left: 2rem;
  background-color: green;
}

@media only screen and (max-width: 768px) {
  #navbar {
    display: none;
  }
  #main-doc {
    width: 100vw;
  }
}
